.watchmovies {
  padding-top: 30px;
  width: 100%;
  background-color: grey;
  display: grid;
  align-items: flex-start;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20%;
}

.watchheading {
  color: white;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: grey;
  padding-left: 50px;
}
