.avatar {
  width: 45px;
  height: auto;
  padding-right: 50px;
}

.header3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.genre_p {
  color: white;
  font-size: 15px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-bottom: 17px;
}

.header2 {
  display: flex;
  gap: 50px;
  align-items: center;
}

.genre {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}

.avatar_dropdown {
  display: none;
}
.avatar_dropdown2 {
  width: 80px;
  display: block;
  color: white;
  position: absolute;
  z-index: 10;
  top: 55px;
  right: 35px;
  background-color: rgb(50, 50, 50, 0.5);
}

.avatar_dropdown2 p {
  font-size: 15px;
  border-bottom: 2px solid white;
  text-align: center;
  margin-bottom: 0px;
}
