.row_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 40px;
}
.a {
  width: 30%;
}

p {
  font-size: 20px;
}
